<div class="celebrities_view_container">
  <h2>Create a new celebrity</h2>

  <form class="celebrities_create_container" action="/celebrities" method="post">

    <label for="name-input">Celebrity name: </label>
    <input type="text" name="name" id="name-input" />

    <label for="occupation-input">Occupation: </label>
    <input type="text" name="occupation" id="occupation-input" />

    <label for="catchPhrase-input">CatchPhrase: </label>
    <input type="text" name="catchPhrase" id="catchPhrase-input" />

    <button class="btn" type="submit">Create</button>

    <a class="btn" href="/">Back</a>

  </form>
</div>