<div class="celebrities_view_container">

  <h2>Celebrities details</h2>

  <div class="celebrities_card_container">
    <ul>
      <h3> Celebrity name: {{fuckingCelebs.name}}</h3>
      <h3> Occupation: {{fuckingCelebs.occupation}}</h3>
      <h3> CatchPhrase: {{fuckingCelebs.catchPhrase}}</h3>
    </ul>
    <br>
  </div>
</div>