<div class="movies_view_container">

  <h2>Movies details</h2>

  <div class="movies_card_container">
    <ul>
      <h3> Title: {{moviesArr.title}}</h3>
      <h3> Genre: {{moviesArr.genre}}</h3>
      <h3> Plot: {{moviesArr.plot}}</h3>
    </ul>
    <br>
  </div>
</div>